* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  background-image: url("/images/cockpit-4598188_1280.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border: 0.3vw solid wheat;
  border-radius: none;
}

header {
  text-align: center;
  margin-bottom: 20px;
  border: 0.3vw solid peru;
  border-radius: 1vw;
  min-width: 0;
  color: #333;
  background-color: wheat;
  opacity: 0.8;
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #333;
  background-color: wheat;
  opacity: 0.8;
}

#logo {
  position: relative;
  max-width: 100px;
  color: peru;
  background-color: peru;
  border: solid 1px peru;
  border-radius: 40px;
  opacity: 0.85;
  margin-top: 10px;
  max-height: 80px;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  color: wheat;
  border: 0.3vw solid peru;
  border-radius: 0.6vw;
  min-width: 0;
  color: #333;
  background-color: wheat;
  opacity: 0.8;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 0.7vw solid peru;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 1vw;
  min-width: 0;
}
/* min-width prevents overflow in flex, used so text boxes shrink with screen size and don't overflow */

legend {
  padding: 0 10px;
  font-weight: bold;
  color: #555;
}

label {
  margin-bottom: -5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background: #fff;
}

button {
  background-color: peru;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #a63805;
}

.logentry {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

#user-input {
  max-width: 600px;
  margin: auto;
  width: 100%;
}

/*use max-width/max-height/min-width etc to allow flexibility on small screen*/

html {
  scroll-behavior: smooth;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

@media (max-width: 800px) {
  body {
    padding: 10px;
  }
  /*avoids that content is squished too much on smaller screen*/
  form {
    padding: 15px;
  }

  fieldset {
    padding: 15px;
    border-width: 5px;
    border-radius: 10px;
  }
}
/*on smaller screens, too much padding uses too much space*/
